[submodule "arceos"]
	path = arceos
	url = https://github.com/starry-mix-rk3588/arceos.git
	branch = starry_main
[submodule "crates/axcpu"]
	path = crates/axcpu
	url = https://github.com/starry-mix-rk3588/axcpu.git
[submodule "crates/axplat-opi5p"]
	path = crates/axplat-opi5p
	url = https://github.com/starry-mix-rk3588/axplat-opi5p.git
[submodule "crates/lwext4_rust"]
	path = crates/lwext4_rust
	url = https://github.com/starry-mix-rk3588/lwext4_rust.git
[submodule "crates/rknpu2-rslab"]
	path = crates/rknpu2-rslab
	url = https://github.com/starry-mix-rk3588/rknpu2-rslab.git
[submodule "crates/--force"]
	path = crates/--force
	url = https://github.com/starry-mix-rk3588/rknpu-driver.git
[submodule "crates/rknpu-driver"]
	path = crates/rknpu-driver
	url = https://github.com/starry-mix-rk3588/rknpu-driver.git
[submodule "crates/rkgpio"]
	path = crates/rkgpio
	url = https://github.com/starry-mix-rk3588/rkgpio.git
