[submodule "arceos"]
	path = arceos
	url = https://github.com/starry-mix-rk3588/arceos.git
	branch = starry_main
[submodule "crates/axcpu"]
	path = crates/axcpu
	url = https://github.com/starry-mix-rk3588/axcpu.git
[submodule "crates/axplat-opi5p"]
	path = crates/axplat-opi5p
	url = https://github.com/starry-mix-rk3588/axplat-opi5p.git
[submodule "crates/lwext4_rust"]
	path = crates/lwext4_rust
	url = https://github.com/starry-mix-rk3588/lwext4_rust.git
